* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #fff;
}

.menu-container {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 200;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e2e2e2;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-menu {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.left-menu i {
  margin-right: 1.5rem;
}

.left-menu span {
  font-size: 14.25px;
  font-weight: 700;
  text-transform: uppercase;
}

.right-menu {
  display: flex;
  flex-direction: row;
}

.right-menu button {
  margin-right: 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.6s ease 0s;
  white-space: nowrap;
  vertical-align: middle;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 11px 12px 8px;
  text-transform: uppercase;
}

.aricle-header {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
  padding-bottom: 20px;
  font-size: 2em;
  width: 50vw;
}

.header-image {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header-image img {
  width: 70vw;
}

.header-caption {
  display: block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
  width: 70vw;
}

.subnotes-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.subnotes-container h3 {
  text-decoration: underline;
  font-weight: 800;
  font-family: monospace;
  font-size: 14px;
}

.header-social {
  margin-top: 15px;
  display: flex;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}

.header-social ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-button a svg {
  margin: 5px;
  background-color: #eee;
  border: #eee solid 1px;
  border-radius: 50%;
  padding: 5px;
  width: 25px;
  height: 25px;
}

.article-time {
  font-size: 14px;
}

.article-body {
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.875rem;
  font-size: 1.25rem;
  font-family: serif;
}

.article-body p {
  padding-top: 20px;
}
aside{
  width:210px;
  margin-left: 90px;
}
.editors-pick h2{
  border-bottom: 1px solid rgb(226, 226, 226);
  font-weight: bold;
  font-size: 14px;
}
.article-with-aside {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

#article-aside{
  margin-right: 0;
  margin-left:  300px;

}

.aside-image-container {
  width:75px;
}

.aside-image {
  width: 75px;
  height: 75px;
}

.aside-article{
  display: flex;
  margin: 10px;
  font-size: 12px;
}

.aside-link {
  display:flex;
  text-decoration: none;
}
.aside-article h3 {
  margin: auto 0px auto 10px;
  text-decoration: none;
  color: #000;
}
.aside-article h3:hover {
  text-decoration: underline;
}


/*for the theory of inflation grid*/

.article-grid-div{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.article-grid-main{
  margin-left: 0;
  margin-right: 0;
  min-width: 100%;
  max-width: 100%;
}

.article-grid{
  margin-top: 15px;
  margin-bottom: 15px;
}
.article-grid-title h1{
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 700;
}

.article-grid-title p{
  font-size: .875rem;
  font-weight: 400;
  margin-top: 5px;
}

.article-grid-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}



.article-grid-item img{
  height: 150px;
}

.article-grid-item-text p{
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
}

.article-grid-item-text span{
  font-size: 11px;
  font-weight: bold;
  letter-spacing: .05em;
}

.article-grid-footer{
  margin-top: 2rem;
}

.article-grid-footer::before{
  width: 60px;
  content: '';
  display: inline-block;
  height: 1px;
  margin: 0 0 13px;
  background-color: #000;
}

.article-grid-footer p{
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
